# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
.venv/

# Streamlit & Cache
.streamlit/secrets.toml
.streamlit/cache/

# Large Files & Local Backups
*.zip
*.tar.gz
*.pkl
data/raw/*.csv
data/cache/*.parquet

# OS files
.DS_Store
Thumbs.db